body {
    background-image: url("../img/registro1.png");
    background-color: #001326;
}

form {
    background-color: white;
    border-radius: 8px;
}

.registro {
    
    margin-top: 100px;
    margin-bottom: 100px;
}

label {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 5px;
}

::placeholder {
    font-size: 13px;
    color: gainsboro;
}

button {
    padding: 3px 20px;
    background-color: royalblue;
    border-radius: 5px;
    height: 40px;
    color: white;
    border: none;
    margin-left: 8px;
    float: right;
    cursor: pointer;


}